In [0]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Car_price.csv")
df

          Make       Model  Year  ... city mpg  Popularity   MSRP
0          BMW  1 Series M  2011  ...       19        3916  46135
1          BMW    1 Series  2011  ...       19        3916  40650
2          BMW    1 Series  2011  ...       20        3916  36350
3          BMW    1 Series  2011  ...       18        3916  29450
4          BMW    1 Series  2011  ...       18        3916  34500
...        ...         ...   ...  ...      ...         ...    ...
11909    Acura         ZDX  2012  ...       16         204  46120
11910    Acura         ZDX  2012  ...       16         204  56670
11911    Acura         ZDX  2012  ...       16         204  50620
11912    Acura         ZDX  2013  ...       16         204  50920
11913  Lincoln      Zephyr  2006  ...       17          61  28995

[11914 rows x 16 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [0]:
df = df.drop(["Market Category"] , axis =1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Vehicle Size       11914 non-null  object
 10  Vehicle Style      11914 non-null  object
 11  highway MPG        11914 non-null  int64
 12  city mpg           11914 non-null  int64
 13  Popularity         11914 non-null  int64
 14  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(7)
memory usage: 1.4+ MB

## **Preprocessing**

## Replacing Null Values

In [6]:
df.isnull().sum()

Make                  0
Model                 0
Year                  0
Engine Fuel Type      3
Engine HP            69
Engine Cylinders     30
Transmission Type     0
Driven_Wheels         0
Number of Doors       6
Vehicle Size          0
Vehicle Style         0
highway MPG           0
city mpg              0
Popularity            0
MSRP                  0
dtype: int64

In [0]:
#replacing the null values by the mean of the values in the column

df["Engine HP"].replace( np.NaN , df["Engine HP"].median() , inplace = True )   
df["Engine Cylinders"].replace( np.NaN , df["Engine Cylinders"].median() , inplace = True )
df["Number of Doors"].replace( np.NaN , df["Number of Doors"].median() , inplace = True )

In [8]:
df.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     3
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

## Removing remaining null value records

In [9]:
df.dropna(inplace=True)
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 15 columns]

##  Encoding of Data

In [0]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["Engine Cylinders"] = le.fit_transform( df["Engine Cylinders"] )
df["Engine Fuel Type"] = le.fit_transform( df["Engine Fuel Type"] )
df["Vehicle Style"] = le.fit_transform( df["Vehicle Style"] )
df["Year"] = le.fit_transform( df["Year"] )

In [11]:
# Applying one-hot encoding using pandas dummies .

df = pd.concat( [df,pd.get_dummies (df['Number of Doors'] , drop_first = True) ] , axis = 1)
df = pd.concat( [df,pd.get_dummies (df['Driven_Wheels'] , drop_first = True) ] , axis = 1)
df = pd.concat( [df,pd.get_dummies (df['Transmission Type'] , drop_first = True) ] , axis = 1)
df = pd.concat( [df,pd.get_dummies (df['Vehicle Size'] , drop_first = True) ] , axis = 1)
df = pd.concat( [df,pd.get_dummies (df['Number of Doors'] , drop_first = True) ] , axis = 1)
df = df.drop ( ['Number of Doors' ,
                'Driven_Wheels' , 
                'Transmission Type' , 
                'Vehicle Size' , 
                'Number of Doors'] , axis = 1 )


df.head()

  Make       Model  Year  Engine Fuel Type  ...  Large  Midsize  3.0  4.0
0  BMW  1 Series M    21                 8  ...      0        0    0    0
1  BMW    1 Series    21                 8  ...      0        0    0    0
2  BMW    1 Series    21                 8  ...      0        0    0    0
3  BMW    1 Series    21                 8  ...      0        0    0    0
4  BMW    1 Series    21                 8  ...      0        0    0    0

[5 rows x 24 columns]

## Splitting the  Data

In [12]:
df.columns

Index([             'Make',             'Model',              'Year',
        'Engine Fuel Type',         'Engine HP',  'Engine Cylinders',
           'Vehicle Style',       'highway MPG',          'city mpg',
              'Popularity',              'MSRP',                 3.0,
                       4.0,  'four wheel drive', 'front wheel drive',
        'rear wheel drive',         'AUTOMATIC',      'DIRECT_DRIVE',
                  'MANUAL',           'UNKNOWN',             'Large',
                 'Midsize',                 3.0,                 4.0],
      dtype='object')

In [0]:
X = df.drop(['Make', 'Model' , 'MSRP' ] , axis = 1)
y = df["MSRP"]

In [14]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split( X , y , random_state = 2 , test_size = 0.20)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(9528, 21)
(9528,)
(2383, 21)
(2383,)

# Decision Tree Regressor

In [15]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()

model.fit (X_train , y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

Accuracy of Model on Training Data

In [16]:
model.score(X_train,y_train)

0.9978119302807471

Accuracy of Model On Test Data

In [17]:
model.score(X_test,y_test)

0.9416801786653817

# Support  Vector Regressor

In [0]:
#Standard Scaling
from sklearn.preprocessing import StandardScaler
sx = StandardScaler()
sy = StandardScaler()

y_normal = np.expand_dims(y_train , axis = 1)

X_normal = sx.fit_transform(X_train)
y_normal = sy.fit_transform(y_normal)

In [19]:
y_normal = y_normal.astype(pd.Series)
y_normal = y_normal.reshape(len(y_normal))
y_normal

array([-0.13895882095161716, -0.31258764012404616, 0.6354053256119165,
       ..., -0.19366379137580714, -0.31088872799907136,
       -0.127491164108037], dtype=object)

In [20]:
#Now training the data 

from sklearn.svm import SVR

MODEL = SVR()

MODEL.fit(X_normal , y_normal)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [21]:
#training data accuracy
MODEL.score(X_normal , y_normal)

0.7051832636735637

In [22]:
#testing  data accuracy

sxt = StandardScaler()
syt = StandardScaler()

y_tnorm = np.expand_dims(y_test , axis = 1)

X_tnorm = sxt.fit_transform(X_test)
y_tnorm = syt.fit_transform(y_tnorm)

y_tnorm = y_tnorm.astype(pd.Series)
y_tnorm = y_tnorm.reshape(len(y_tnorm))

MODEL.score(X_tnorm , y_tnorm)

0.7100750772120272